/*-----------
    Reset 
 -----------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-----------
    Common 
 -----------*/
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

img {
    width: 10%;
}

/*-----------
    Header 
 -----------*/
header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.left {
    display: flex;
    align-items: center;
}

.left h1 {
    padding-left: 10px;
}

.right {
    margin-left: auto;
}

.btn{
    padding: 0 30px;
    cursor: pointer;
}

/*-----------
    Main 
 -----------*/
main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
}

#griglia {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    
}

#griglia div {
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: 1px solid black;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}

.blue{
    background-color: lightblue;
}


/*-----------
    Footer 
 -----------*/
footer {
    padding: 20px;
}